@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Plus-Jakarta-Sans dark:bg-darkLight;
  }

  /* Sidebar style start*/
  .sidebar-head {
    @apply flex flex-col overflow-y-auto px-4 duration-300 ease-linear;
  }
  .sidebar-nav {
    @apply px-4 py-4 lg:mt-2 lg:px-6;
  }

  .sidebar-menu-item {
    @apply relative flex items-center gap-3 rounded-sm px-4 py-2 font-medium text-black duration-300 ease-in-out hover:bg-slate-300;
  }

  .sidebar-submenu-item {
    @apply relative flex items-center gap-3 rounded-sm px-12 py-2 font-normal text-black duration-300 ease-in-out hover:bg-primary hover:text-primary-light dark:text-slate-300 dark:hover:text-primary-light;
  }

  /* Sidebar base styles */
  .sidebar {
    @apply fixed bottom-0 top-0 z-[60] h-screen w-72 -translate-x-full bg-white opacity-100 shadow-lg transition-all duration-700 ease-in-out dark:bg-dark lg:translate-x-0;
  }

  .sidebar.collapsed {
    @apply opacity-50 lg:w-20; /* Fade out the sidebar when collapsed */
  }

  .sidebar.collapsed:hover {
    @apply w-72 opacity-100; /* Restore the full width and opacity on hover */
  }

  .sidebar.expanded {
    @apply translate-x-0 opacity-100; /* Fully visible when expanded */
  }

  /* Sidebar header */
  .sidebar-header {
    @apply flex h-16 w-full items-center gap-4 px-4;
  }

  .sidebar-logo-icon {
    @apply inline-block flex-shrink-0 fill-current text-red-400;
  }

  .sidebar-logo-text {
    @apply flex flex-col;
  }

  .sidebar.collapsed .sidebar-logo-text {
    @apply hidden;
  }

  .sidebar.collapsed:hover .sidebar-logo-text {
    @apply flex;
  }

  /* Sidebar content */
  .sidebar-content {
    @apply mt-1 overflow-auto;
    height: calc(100vh - 4rem);
  }
  .sidebar-content li {
    @apply cursor-pointer transition-all duration-700;
  }

  .simplebar-content > li {
    @apply px-[18px];
  }

  /* Sidebar menu */
  .sidebar-menu {
    @apply flex w-full items-center gap-2 rounded-md p-1 text-sm transition-colors duration-700 hover:bg-primary hover:text-primary-light dark:hover:bg-primary/[0.08];
  }

  .sidebar-menu-icon {
    @apply flex h-9 w-9 min-w-max flex-shrink-0 items-center justify-center text-slate-500;
  }

  .sidebar-menu-icon svg {
    @apply h-5 w-5;
  }

  .sidebar-menu-arrow {
    @apply ml-auto mr-2 text-slate-800 transition-transform duration-150;
  }

  .sidebar-menu-arrow svg {
    @apply h-4 w-4;
  }

  .sidebar-menu-arrow.rotate {
    @apply rotate-90 transform;
  }

  .sidebar-menu:hover .sidebar-menu-icon,
  .sidebar-menu:hover .sidebar-menu-arrow {
    @apply text-slate-600 dark:text-slate-600;
  }

  .sidebar-menu.active {
    @apply bg-primary text-primary-light dark:bg-darkGray dark:text-primary-lighter;
  }

  .sidebar-menu.active .sidebar-menu-icon {
    @apply !rounded-md bg-primary/[0.12] text-primary-light dark:bg-primary/100 dark:text-white;
  }

  .sidebar-menu.active .sidebar-menu-arrow {
    @apply text-slate-500;
  }
  .sidebar-menu .sidebar-menu-arrow {
    @apply text-slate-500 dark:text-grayLight;
  }
  .sidebar-menu .sidebar-menu-text {
    @apply font-medium text-slate-500 transition-all duration-700 dark:text-grayLight;
  }
  .sidebar-menu.active .sidebar-menu-text {
    @apply font-bold text-primary-light dark:text-white;
  }
  .sidebar.collapsed .sidebar-menu-text {
    @apply lg:invisible lg:opacity-0;
  }
  .sidebar.collapsed .logo-text {
    @apply transition-all duration-500 lg:invisible lg:opacity-0;
  }
  .sidebar.collapsed:hover .logo-text {
    @apply visible opacity-100;
  }

  .sidebar.collapsed:hover .sidebar-menu-text {
    @apply visible opacity-100;
  }

  .sidebar.collapsed .sidebar-menu-arrow {
    @apply lg:hidden;
  }

  .sidebar.collapsed:hover .sidebar-menu-arrow {
    @apply block;
  }

  /* Sidebar submenu */
  .sidebar-submenu {
    @apply mt-0.5 max-h-0 overflow-hidden transition-all duration-300 ease-in-out;
  }

  .sidebar-submenu.expanded-submenu {
    @apply h-auto; /* Adjust this value to the potential height of your submenu */
  }

  .sidebar-submenu-item {
    @apply block rounded py-2 pl-12 text-sm transition-colors duration-150;
  }

  .sidebar-submenu-item.active {
    @apply font-medium text-primary-light dark:text-primary-lighter;
  }

  /* Sidebar menu header */
  .sidebar-menu-header {
    @apply my-2 block pl-7 pt-4 text-xs font-bold uppercase leading-[10px] tracking-widest text-slate-400 transition-all duration-700;
  }

  /* Sidebar toggle */
  .sidebar-toggle {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300;
  }

  /* Collapsed & Hovered States */
  .sidebar.collapsed .sidebar-submenu {
    @apply lg:hidden;
  }

  .sidebar.collapsed:hover .sidebar-submenu {
    @apply block;
  }

  .sidebar.collapsed .sidebar-menu-header {
    @apply md:hidden;
  }

  .sidebar.collapsed:hover .sidebar-menu-header {
    @apply md:block;
  }
  .sidebar.hovered .wrapper {
    @apply lg:ml-72;
  }
  .sidebar.hovered + .wrapper {
    @apply xl:ml-72;
  }
  /* Sidebar style end*/

  /* main content */
  .wrapper {
    @apply relative flex flex-1 flex-col duration-700 ease-in-out lg:ml-72;
  }
  .wrapper.expanded {
    @apply lg:ml-20;
  }

  .not-found-main {
    @apply mx-auto flex h-[calc(100vh_-_120px)] w-full max-w-[960px] flex-col justify-center px-4 py-20;
  }
  .not-found-main .content svg {
    @apply absolute inset-x-0 top-[28px] z-0 text-[200px] font-extrabold opacity-50 md:top-[-74px];
  }
}

/* for custom radio style */
input[type="radio"] {
  position: relative;
}

input[type="radio"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked::before {
  background-color: white;
}
[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/* Sidebar Scrollbar design */
.sidebar-content::-webkit-scrollbar {
  width: 5px;
  height: 30px;
}
.sidebar-content::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-content::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00a76f44);
  border-radius: 10px;
}
.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Body Scrollbar design */
/* Vertical scrollbar */
body::-webkit-scrollbar {
  width: 8px; /* vertical scrollbar width */
}

/* Horizontal scrollbar */
body::-webkit-scrollbar {
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00a76f);
  border-radius: 10px;
  height: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #00a76f9b);
}
